body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.header {
  background-image: linear-gradient(rgba(20, 54, 66, 0.7), rgba(20, 54, 66, 0.7)), url("./asset/Coffe Header.png");
  background-position: center;
  background-size: cover;
  height: 700px;
  border-radius: 0px 0px 30px 30px;
}

.header-menu {
  height: 145px;
  background-color: #0f8b8d;
}

.header-logo {
  float: left;
  padding-top: 40px;
  padding-left: 140px;
}

.header-logo img,
.footer-logo img {
  height: 67px;
}

.icon img {
  height: 30px;
  padding-top: 10px;
  padding-right: 10px;
}

.header-list {
  float: right;
  padding-top: 35px;
  padding-right: 140px;
  color: white;
}

.header-list li {
  list-style: none;
  float: left;
  padding-left: 25px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.header-list li:hover {
  color: #ec9a29;
}

.top-wrapper {
  text-align: center;
  padding-top: 225px;
  color: white;
}

.top-wrapper h1 {
  font-weight: 800;
  line-height: 30px;
  font-size: 70px;
}

.top-wrapper h4 {
  font-weight: 400;
  font-size: 36px;
}

.main-wrapper {
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-wrapper h2 {
  color: #0f8b8d;
  border-bottom: 5px solid #ec9a29;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  width: max-content;
}

.main-wrapper p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.main-1 .teks {
  padding-left: 400px;
}

.main-3 .teks {
  padding-left: 550px;
}

.main-1 {
  width: 925px;
  height: 460px;
}

.main-1 img {
  height: 460px;
  width: 335px;
  border-radius: 20px;
  object-fit: cover;
  float: left;
}

.main-2 {
  width: 925px;
  height: 335px;
  padding-top: 100px;
}

.main-2 img {
  height: 335px;
  width: 335px;
  object-fit: cover;
  margin-left: 100px;
  border-radius: 20px;
  float: right;
}

.main-3 {
  height: 453px;
  width: 925px;
  padding-top: 100px;
}

.main-3 img {
  height: 450px;
  width: 450px;
  object-fit: cover;
  border-radius: 20px;
  float: left;
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #a8201a;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0, rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0, rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.feed img {
  width: 237px;
  height: 237px;
  margin: 10px 35px;
}

span {
  color: #ec9a29;
}

.main-4 {
  padding-top: 50px;
  text-align: center;
}

.main-4 h2 {
  border-bottom: none;
  display: inline-block;
}

.footer-wrapper {
  height: 260px;
  background-color: #143642;
  color: white;
  line-height: 29px;
  padding-top: 30px;
  padding-left: 30px;
}

.footer-wrapper li {
  list-style: none;
}

.footer-wrapper li:hover {
  color: #ec9a29;
}

.footer-logo,
.footer-products,
.footer-store,
.footer-contact {
  float: left;
  padding-left: 40px;
}

.menu-wrapper {
  padding: 100px 200px;
  text-align: center;
  align-content: center;
}

.menu-wrapper h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #0f8b8d;
}

.menu-wrapper p {
  font-weight: 500;
  font-size: 24px;
}

.menu-feed {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.coffee-menu {
  width: 216px;
  height: 216px;
  background-image: url("./asset/Coffee\ background.png");
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  margin: 30px;
}

.coffee-menu h2 {
  font-weight: 700;
  size: 20px;
  line-height: 24px;
  margin: 10px;
}

.coffee-menu p {
  font-weight: 400;
  size: 18px;
  line-height: 22px;
  margin: 0;
}

.coffee-menu img {
  height: 140px;
}
